.navbar-inverse{
    border-bottom: none !important;
}

.navbar a{
    color: white !important;
}

.navbar-toggle{
    border-color: #253b56 !important;
}

.navbar-toggle:hover{
    background-color: #253b56 !important;
}
