#app h1{
    font-size: 30px;
    color: #555F61;
    font-weight: 400;
}

#app h2{
    font-size: 28px;
    color: #1f8ceb;
    font-weight: 400;
}

#app h3{
    font-size: 20px;
    color: #1f8ceb;
    font-weight: 400;
}

#app h4{
    font-size: 20px;
    color: #555F61;
    font-weight: 400;
}

#app p, #app label, #app li{
    color: #707C80;
    font-weight: 400;
}

.m-l-sm{
    margin-left: 4em;
}

.m-t-m{
    margin-top: 20px;
}

.download-presentation-link{
    font-size: 24px;
}

.row-after-button{
    margin-top: 20px;
}

.alert.yellow-border{
    border: 2px solid #fed301;
    padding: 15px 15px 5px 15px;
}

.btn-yellow{
    color: black;
    background-color: #fed200;
    border: none;
}
.btn-yellow:hover{
    background-color: #f4b43d;
}
.m-t-lg{
    margin-top: 60px;
}
#welcome-button{
    border-radius: 1000px;
    padding: 15px 32px 15px 32px;
}
#step-by-step{
    position: relative;
}
#click-by-click{
    position: absolute;
    left: 20px;
    bottom: 40px;
}
#welcome-jumbotron{
    background-color: #136efb;
}
h1#welcome-heading{
    color: black;
    font-size: 42px;
}
#app #welcome-tagline{
    color: #e3e3e3;
}
#post-click-by-click{
    position: relative;
}