#app h1, .standard-container h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #555F61;
    font-weight: 400;
}

#app h2, .standard-container h2{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #27282d;
    font-weight: 400;
}

#app h3, .standard-container h3{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #27282d;
    font-weight: 400;
}

#app h4, .standard-container h4{
    font-family: sans-serif;
    font-size: 20px;
    color: #27282d;
    font-weight: 400;
}

#app p, #app label, #app li, .standard-container p, .standard-container label, .standard-container li{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #27282d;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 20px;
}

#domain-availability label{
    font-weight: 400;
}

h3.next-step a{
    font-size: 28px;
}

#app .well{
    margin-top: 40px;
    margin-bottom: 40px;
}


.embed-responsive.border iframe{
    border: 2px solid #000000;
}
.embed-responsive.border{
    margin-top: 40px;
    margin-bottom: 40px;
}


.m-l-sm{
    margin-left: 4em;
}
.m-t-m{
    margin-top: 20px;
}
.m-b-m{
    margin-bottom: 20px;
}
.m-b-lg{
    margin-bottom: 40px;
}


#wordpress-videos-index{
    column-count: 3;
}

#wordpress-videos-wrapper{
    column-count: 2;
}




.download-presentation-link{
    font-size: 24px;
}

.row-after-button{
    margin-top: 20px;
}

.alert.yellow-border{
    /*border: 2px solid #fed301;*/
    /*padding: 15px 15px 5px 15px;*/
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-yellow{
    color: black;
    background-color: #fed200;
    border: none;
}
.btn-yellow:hover{
    background-color: #f4b43d;
}
.m-t-lg{
    margin-top: 60px;
}
#welcome-button{
    border-radius: 1000px;
}
#welcome-jumbotron{
    background-color: #136efb;
}
h1#welcome-heading{
    color: black;
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
#app #welcome-tagline{
    font-size: 26px;
    color: #e3e3e3;
}
.yellow-text{
    color: #fed301;
}
#welcome-navbar.navbar.navbar-inverse{
    background-color: #136efb !important;
    margin-bottom: 0;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

#easiest-guide-wrapper{
    /*background-image: url("http://getblogging.today.dev/images/backgrounds/playstation-pattern.png");*/
    /*background-repeat: repeat;*/
    /*margin-top: -29px;*/
}

#easiest-guide-wrapper h1, #make-any-blog h1, #get-blogging-advantage h1{
    font-size: 48px;
    font-weight: 600;
    color: #253b56;
    font-family: sans-serif;
}

#easiest-guide-wrapper h3{
    color: #253b56;
}

#app #get-blogging-advantage h3 {
    color: #1f8ceb;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}


.desktop-top-margin{
    margin-top: 0;
}

@media only screen and (min-width: 991px){
    .desktop-top-margin{
        margin-top: 60px;
    }
}
