#app h1{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: #555F61;
    font-weight: 400;
}

#app h2{
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    color: #1f8ceb;
    font-weight: 400;
}

#app h3{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #1f8ceb;
    font-weight: 400;
}

#app h4{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #555F61;
    font-weight: 400;
}

#app p, #app label, #app li{
    font-family: 'Nunito', sans-serif;
    color: #707C80;
    font-weight: 400;
}

.m-l-sm{
    margin-left: 4em;
}

.m-t-m{
    margin-top: 20px;
}

.download-presentation-link{
    font-size: 24px;
}

.row-after-button{
    margin-top: 20px;
}

.alert.yellow-border{
    border: 2px solid #fed301;
    padding: 15px 15px 5px 15px;
}

.btn-yellow{
    color: black;
    background-color: #fed200;
    border: none;
}
.btn-yellow:hover{
    background-color: #f4b43d;
}
.m-t-lg{
    margin-top: 60px;
}
#welcome-button{
    border-radius: 1000px;
}
#welcome-jumbotron{
    background-color: #136efb;
}
h1#welcome-heading{
    color: black;
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
#app #welcome-tagline{
    font-size: 26px;
    color: #e3e3e3;
}
.yellow-text{
    color: #fed301;
}
#welcome-navbar.navbar.navbar-inverse{
    background-color: #136efb !important;
    margin-bottom: 0;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}